*{
	margin: 0;
	opacity: 1.0;
	padding: 0;
}
body{
	background-color:lightblue;
	font-family: 'Merriweather Sans', sans-serif;
}


.user{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	float: left;
	padding: 2%;
	color: #fff;
	margin-top:120%;
}


.login{
	width:30%;
	height:120%;
	background-color:white;
	display:block;
	margin:auto;
	margin-top:15%;
}

.login input[type='submit']{
	margin-top: 20%;
}

/* h1 formatting */
.title{
	text-decoration: none;
}
.title:visited{
	color:black;
}
.title:active{
    color:black;
}
h1{
	font-size: 50px;
	text-align: center;
	font-family: 'Cairo', sans-serif;
	background-color:white;
	width: 100%;
}

/* p formatting */
p{
	margin: 3.5% 3% 3%;
}

/* img formatting */

#body img{
	display:block;
	margin: auto;
}

/* Header formatting */

li{
	list-style: none;
}

#nav ul{
	overflow: hidden;
}
#nav ul li{
	display: inline;
}

#nav ul li a{
	/*23.53%*/
	width: 23.05%;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	float: left;
	padding: 0.975%;
	background-color: #2175bc;
	color: #fff;
}
#nav ul li a:hover {
	background-color:#dedede;
	color:  #000;
}
#nav ul li a:active {
	background-color: #2175bc;
}

.reserva{
	margin:10% 15% 12%;
	width:100%;
}

.reserva ul{
	overflow: hidden;
}

.reserva ul li{
	display:inline;
	
}

.reserva ul li input{
	float: left;
	padding: 0.975%;
}

.reserva ul select{
	display:inline;
	margin-top: 0.5%;
	margin-left:2%;
	padding: 0.975%;
}
.reserva ul input[type=submit]{
	padding: 2%;
	margin:10% 27% 0;
}

.habitacion{

}
.habitacion input{
	display: inline-block;
}
.engranaje{
	margin: 0;
	position: absolute;
	top: 3.5%;
	right: 1.5%;
}
.icono-login{
	margin: 0;
	position: absolute;
	top: 3.5%;
	right: 4.5%;
}
.dropdown{
	margin: 0;
	position: absolute;
	top: 4.75%;
	right: 10%;
}
.dropdown li a{
	text-decoration:none;
	color:#000;
	background-color:#fff;
	padding: 5%;
	display:block;

	
}
.dropdown li > a{
	width:120%;
}
.dropdown li a:hover{
	background-color:#D3D3D3;
}
.dropdown li ul{
	display:none;
	position:absolute;
	min-width: 120%;
}
.dropdown li ul li a{
	background-color:#e6e6e6;
}
.dropdown li:hover > ul{
	display:block;
}
.flecha{
	margin: 0;
	position: absolute;
	top: 2%;
	right: 90%;
}


/* Body formatting */

#body{
	font-family: 'Merriweather Sans', sans-serif;
	background-color: white;
	width: 75%;
	padding: 2%;
	margin: 0 10% 0;
}


/* Foot formatting */

#foot{
	margin: 5% 0 1.5%;
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	color: black;
}




.misReservas{
	margin:auto;
	background-color:#2175bc;
}

.misReservas td{
	background-color:lightblue;
}

/* Table formatting */

tr{
	padding: 10px;
}

table{
	background-color: white;
	margin: 0 0 0 40px;
	background-color:#F49A39;
	padding:10px;
}
td{
	padding: 0 5px 0 5px;
	background-color:#ffb25e;
}






/* Form formatting */
#contacto p{
	display: inline-flex;
}
#comentario{
	margin: 0 0 0 15px;
}

form{
	padding: 15px;
	width: 50%;
	margin: 15px 0px 15px 20px;
}

select{
	display: block;
	margin: 5px 18px 5px;
}

.encasedForm{
	margin: 0;
	padding: 0;

}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;


}

input[type=number] {

    -moz-appearance:textfield;
    width: 3%;

}

input[name=dni]{
	width:18%;
}

.listaDesplegable{
	width:13.5%;
}
input{
	margin: 5px 0px 0px 20px;
	display: block;
}

input[type=submit]{
	margin: 10px 0px 0px 20px;
	display: block;
}



#plano{
	margin-bottom: 10%;
}



/* Side-nav formatting */
/*F49A39 new*/
#sidenav {
	height: 100%; 
	width: 180px;
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color:  #F49A39; 
	overflow-x: hidden; 
	padding-top: 2%;
  }

  #sidenav a {
	padding: 5% 5% 5.5%;
	text-decoration: none;
	font-size: 25px;
	font-family: 'Merriweather Sans', sans-serif;
	color: white;
	display: block;
  }
  
  #sidenav a:hover {
	background-color: #e68218;
  }
  #sidenav a:active {
	background-color: #b66b1b;
  }
  #main {
	margin-left: 160px;
	padding: 0px 10px;
  }